<div align="left">
	<h3>Comments</h3>

	<% @post.comments.each do |comment| %>
	  <div class="small_avatar">
	  	<p>
		    <%= render "posted_by", :params => comment.user_id %> <%= simple_format comment.body %>
		</p>
	  </div>

	  <% if current_user.id == comment.user_id %>
	  	<%= link_to "Delete", [@post, comment], method: :delete, data: {confirm: "Are you sure you want to delete comment ?"} %>
	  <% end %>
	  <HR>
	<% end %>
</div>