<title>Hikes</title>

<h1>Hikes</h1>

<% @posts.each do |post| %>
  <div>
    <%= link_to (image_tag post.image.url(:original), :size => "300", class:'post-image'), post %>
    <p>
      <%= post.caption %>
    </p>

    <p>
      <% user = User.find(post.user_id) %>
      posted by: <%= link_to (user.email), "/profile/#{user.id}" %>
    </p> 

    <%= render "poster_options", :post => post %>
  </div>
<% end %>